<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JTLRechnung.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <JTLRechnung.My.MySettings>
            <setting name="db_server" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="db_username" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="db_passwort" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="db_datenbankname" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="absender_vorname" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="absender_firma" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="absender_nachname" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="absender_straße" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="absender_plz" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="absender_ort" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="absender_land" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="export_pfad" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="mwst_tmp" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>-1</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="nr_kunden_prefix" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="nr_kunden_suffix" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="nr_auftrag_prefix" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="nr_auftrag_suffix" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="app_language" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DE-de</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="kunde_opt_jtl_add" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>false</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="bestellung_opt_jtl_add" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>false</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="login_username" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="login_ok" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="login_userid" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="login_automodus" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>false</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="login_passwort" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="lvw_colum_save" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>true</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="bLagerverwaltung" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>false</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="mandant_letzter_name" serializeAs="String">
                <value/>
            </setting>
            <setting name="mandant_position" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="first_start" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bHashPasswort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dvgArtikel_allowAddRow" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>false</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="chkWarehouseAddDelTotal" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>true</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="chkRechnungsdetailVerkäuferAnzeigen" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>true</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="txtBenzinpreis" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>1,389</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="anmeldung_firma" serializeAs="String">
                <value/>
            </setting>
            <setting name="anmeldung_vorname" serializeAs="String">
                <value/>
            </setting>
            <setting name="anmeldung_nachname" serializeAs="String">
                <value/>
            </setting>
            <setting name="anmeldung_telefon" serializeAs="String">
                <value/>
            </setting>
            <setting name="anmeldung_handy" serializeAs="String">
                <value/>
            </setting>
            <setting name="anmeldung_email" serializeAs="String">
                <value/>
            </setting>
            <setting name="anmeldung_strasse" serializeAs="String">
                <value/>
            </setting>
            <setting name="anmeldung_stadt" serializeAs="String">
                <value/>
            </setting>
            <setting name="anmeldung_postleitzahl" serializeAs="String">
                <value/>
            </setting>
            <setting name="anmeldung_land" serializeAs="String">
                <value/>
            </setting>
            <setting name="chkEinkaufsspalte" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bGoogleBenzinpreis" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>false</string>
                        <string>false</string>
                        <string>false</string>
                        <string>false</string>
                        <string>false</string>
                        <string>false</string>
                        <string>false</string>
                        <string>false</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="chkLagerwarnmeldung" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>true</string>
                        <string>true</string>
                        <string>true</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="strKassenKundenID" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                        <string/>
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
        </JTLRechnung.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
